<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Навігація</title>
    <link rel="stylesheet", href="/static/style_navigation.css">
</head>
<body>
    <nav class="navigation">
        <button><a href="homepage"> На головну сторінку </a></button>
        <button><a href="menu"> Зробити онлайн замовлення </a></button>
        <button><a href="reviews"> Подивитися відгуки </a></button>
        <button><a href="submit"> Додати відгук </a></button>
    </nav>
</body>
</html>